/* 
 * File: header.component.css
 * Description: Styles for the header component.
 */

/* Styles for navigation links */
nav > a {
    transition: background-color 0.3s ease; /* Smooth color transition */
}

/* Change color on hover */
nav > a:hover {
    background-color: var(--nav-blue); 
}

/* Active buttons are green */
nav > a.active {
    background-color: var(--nav-green); 
}