<div>
    <h2>Cart</h2>
    <input type="text" [(ngModel)]="testProductId" placeholder="Enter Product ID">
    <br />
    <input type="text" [(ngModel)]="testProductName" placeholder="Enter Product Name">
    <br />
    <button (click)="addProduct()">Add Test Product</button>
    <button (click)="removeProduct()">Remove Test Product</button>
</div>

<table class="full-width-table">
    <thead>
        <tr>
            <th class="text-left">your stuff</th>
            <th class="text-right">remove / add</th>
            <th class="number-right">qty</th>
            <th class="number-right">cost</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let product of chosenProducts$ | async">
            <td class="text-left">{{ product.productName }}</td>
            <td class="text-right">
                <button (click)="showAlert('Remove ' + product.productName)">Remove</button> /
                <button (click)="showAlert('Add ' + product.productName)">Add</button>
            </td>
            <td class="number-right">{{ product.qty }}</td>
            <td class="number-right">{{ product.unitPrice * product.qty | currency }}</td>
        </tr>
    </tbody>
</table>

<app-totals></app-totals>